* {
  padding: 0%;
  margin: 0;
}
.container {

  background: linear-gradient(45deg, rgb(218, 217, 217), rgb(6, 92, 138));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#submit {
  padding: 13px;
  margin: 10px;
  outline: none;
  border: none;
  background-color: rgb(192, 198, 198);
  border-radius: 30px;
  font-size: 20px;
}
#inp {
  height: 40px;
  padding: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60rem;
  outline: none;
  border-radius: 15px;
  font-size: 30px;
  border: none;
}
.text {
  margin: 15px;
  font-size: x-large;
}
.timeandword {
  font-size: 40px;
  color: rgb(159, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectbtn {
  width: 90px;
  height: 70px;
  font-size: 18px;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(44, 130, 151);
  outline: none;
  border: none;
  color: white;
  transition: all 0.1s ease;
  cursor: pointer;
}
.selectbtn:hover {
  transform: scale(1.1);
  translate: (1);
  background-color: rgb(23, 159, 193);
}
.output{
    font-size: 30px;
    margin: 49px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(125, 8, 8);
}

.showwords{
    font-size: 40px;
    padding: 10px;
    margin: 40px;
}
.correct{
    color:green;

}
.incorrect{
    color:rgb(149, 0, 0);  
}
.current{
    background-color: rgb(119, 172, 225);

}
#logo{
  height: auto;
  width: 8rem;
  margin-right: 10rem;

}


.new{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;

}
.panel{
  width: 100%;
}
#tryagain{
  width: 8rem;
  height: 3rem;
  background-color: rgba(199, 0, 0, 0.378);
  color: white;
  border: none;
  outline: none;
  border-radius: 1rem;
  display: none;
  transition:all 0.2 ease;
}
#tryagain:hover{
  background-color: rgba(226, 13, 13, 0.619);
  transform: scale(1.1);

}
.high{

  margin-left: 7rem;
  font-size: 20px;
  background-color: rgb(178, 215, 215);
  padding: 9px;
  border-radius: 5px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#music{
  height: 3rem;
  width: 6rem;
margin: 2rem;
background-color: rgb(178, 215, 215);

border: none;
outline: none;
border-radius: 9px;
font-size: 1.2rem;

}