@import url('https://fonts.googleapis.com/css2?family=Anton&family=Protest+Guerrilla&display=swap');

*{
    padding: 0%;
    margin: 0%;
    background-color: black;
    color: aliceblue;
}
.container{

    display: flex;
    
    height: 100vh;
    width: 100%;
    flex-direction: column;

}
.header{
    display: flex;
    justify-content: center;

}
.head
{
    font-size: 4rem;
    font-family: "Protest Guerrilla", sans-serif;
    color: rgb(234, 0, 255);
}
.bot{
    font-size: 4rem;
    font-family: "Protest Guerrilla", sans-serif;
    color: rgb(0, 153, 255);
}
.img{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: top;
 
    
}

.gif{

    display: flex;
    justify-content: center;

    
}
.giff{
    height: 15rem;
    display: none;

}
.img img
{
  
    height: 25rem;
    
}
.button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{

    display: flex;
    justify-content: center;
    color:black;
    border: none;
    width: 30%;
    height: auto;
   
    border-radius: 15rem;
    padding: 5px;
    font-size: 2rem;
    background:linear-gradient(90deg, rgb(255, 29, 29),rgb(13, 118, 216));
    
    
}
.btn:hover{
    background:linear-gradient(90deg, rgb(170, 22, 22),rgb(7, 80, 149));
    font-size: 2.2rem;
    border: none;
outline: none;

}
.text
{

    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 2rem;
    font-family: "Protest Guerrilla", sans-serif;
}
.im{

    color: rgb(235, 26, 243);
}
.your{
    color: rgb(0, 221, 255);
}
